/*
 * Estilos de tu proyecto

font-family: 'Hind Siliguri', sans-serif;;
font-family: 'Cardo', serif;
 */
 body {
   background-image:url(../assets/images/planeta.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0px;
   padding: 0px;


 }

button {
  background: rgba(255,193,7,0.5);
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 25px;
  height: 35px;
  margin: 5px;
  width: 40%;
}

img {
  height: 80%;
  opacity:0.7;
  width: 20%;
}

li {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul > li> a {
  color: #fff;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

ul > li> a:hover {
  color: rgb(249, 213, 9);
}

#menu {
  background:rgba(10, 39, 117,0.3);
  height:  100px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#contenido {
  height: 200px;
  margin: 0px;
  padding: 0px;
  width: 20%;
}

#grafica {
  border: 2px, solid, red;
  color:white;
  margin: 50px auto;
  padding:50px;
  width: 300px;
}

#location {
  background-color: rgba(49,49,47,0.1);
  height: 150px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.contact {

  color: #fff;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  text-align:center;
}

.contact > i {
  height: 20px;
  margin: 10px;
}

footer > p {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin-left: 40px;
  padding: 0px;
  text-align: center;
  width: 30%;
}

.b-menu {
  display: inline-block;
  text-align: center;
  width: 50%;
}
